#system{
	display: none;
}

/* #system_content{
	text-align: center;
	width: 300px;
    height: 300px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: visible;
}

#system_content > *{
	margin-bottom: 20px;
} */